@page "/"

<PageTitle>Domino</PageTitle>

<head>
    <div class="menu">
        <p><center>Menú Principal</center></p>
    </div>
</head>

<body>
    <div class="botones">
        <center><button class="boton" onclick="location.href='/Main_Menu'">Modo de Juego</button></center>
        <center><button class="boton" onclick="location.href='/Multiplayer'">Multijugador</button></center>
        <center><button class="boton" onclick="location.href='/Options'">Opciones</button></center>
        <center><button class="boton">Salir</button></center>
    </div>    
</body>